<div class="container flex">
<a href="{{ '/' | url }}" class="logo">Anh Thu Huynh</a>
<nav class="nav">
<ul role='list' class="nav__list">
    <li><a href="{{ '/about/' | url }}" class="nav__link">About</a></li>
    <li><a href="{{ '/posts/' | url }}" class="nav__link">Posts</a></li>
    <li><a href="{{ '/contact/' | url }}" class="nav__link">Contact</a></li>
</ul>
</nav>
</div>